In [1]:
import pandas as pd
import matplotlib as plt 
import seaborn as sns 
import numpy as np

In [2]:
a=5
b=5
print (a*b)

25

In [3]:
#functions

In [6]:
def greet():
    print ("hello, welcome to python")

In [7]:
greet()

hello, welcome to python

In [10]:
def greet(name):
    print ("hello", name)

In [11]:
greet ("kingsley")

hello kingsley

In [12]:
def add(a,b):
    return a+b

In [13]:
result = add(4,6)
print(result)

10

In [17]:
def greet((name="guest"):
    print("hello", name)

SyntaxError: invalid syntax (93453593.py, line 1)

In [19]:
greet()
greet ("zara")

TypeError: greet() missing 1 required positional argument: 'name'

In [20]:
def multiply(a,b):
    return a*b

In [21]:
result= multiply(5,5)
print (result)

25

In [22]:
def is_even (n):
    return n %2 ==0

In [23]:
print (is_even (60))

True

In [24]:
print (is_even(23))

False

In [25]:
result = add(5,5)
print(result)

10

In [30]:
def desc( name, age):
    print (f"my name is {name} and i am {age} years old.")

In [31]:
desc("kingsley", 26)

my name is kingsley and i am 26 years old.

In [32]:
#list and loops in practice
numbers =[10, 20, 30, 40, 50]
total=0
for num in numbers:
    total += num

In [33]:
print("total:", total)

total: 150

In [34]:
print("average:", total/ len(numbers))

average: 30.0

In [35]:
max(numbers)

50

In [36]:
min(numbers)

10

In [38]:
range_numbers= max(numbers)-min(numbers)
print (range_numbers)

40

In [39]:
grades= ["A", "B", "A", "C", "B", "A"]
print ("count of A:", grades.count("A"))

count of A: 3

In [40]:
print (numbers.count(10))

1

In [46]:
def square_numbers(nums):
    result =[]
    for n in nums:
        result.append(n ** 2)
        return result

In [47]:
print (square_numbers([1, 2, 3, 4]))

[1]

In [49]:
def square_numbers(nums):
    result = []
    for n in nums:
        result.append(n ** 2)
        return result

In [52]:
print(square_numbers([4,5,6]))

[16]

In [59]:
def filter_even_numbers(nums):
    evens =[]
    for n in nums:
        if n % 2 == 0:
            evens.append(n)
            return evens

In [60]:
print (filter_even_numbers([1,2,3,4,5,6]))

[2]

In [61]:
def find_max(nums):
    return max(nums)

In [62]:
print(find_max([10, 34,6,3]))

34

In [66]:
name= "kingsley"
age= 25
greetings = "hello"
intro = f"my name is {name} amd i am {age} years old"

In [68]:
print (intro)

my name is kingsley amd i am 25 years old

In [74]:
print (greetings, "" , intro)

hello  my name is kingsley amd i am 25 years old

In [75]:
text = "python programming"

In [77]:
print (text.upper ())
print (text.capitalize())
print (text.title())

PYTHON PROGRAMMING
Python programming
Python Programming

In [78]:
print (text.find("gram"))

10

In [79]:
print (text.replace ("python", "html"))

html programming

In [80]:
import csv

In [82]:
with open ('example.csv', newline='')
as file:
    reader= csv.reader(file)
    for row in reader:
        print (row)

SyntaxError: expected ':' (4237834081.py, line 1)

In [83]:
import csv
with open ('example.csv', newline='')
as file:
    reader= csv.DictReader(file)
    for row in reader:
        print (row["name"], "-", row["age"])

SyntaxError: expected ':' (1233621248.py, line 2)

In [85]:
pip install pandas

Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\user\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [86]:
import pandas as pd

In [87]:
df = pd.read_csv("enrollments.csv")

In [89]:
print (df)

      account_key    status   join_date cancel_date  days_to_cancel  \
0             448  canceled  2014-11-10  2015-01-14            65.0
1             448  canceled  2014-11-05  2014-11-10             5.0
2             448  canceled  2015-01-27  2015-01-27             0.0
3             448  canceled  2014-11-10  2014-11-10             0.0
4             448   current  2015-03-10         NaN             NaN
...           ...       ...         ...         ...             ...
1635         1176   current  2015-08-12         NaN             NaN
1636         1110   current  2015-08-13         NaN             NaN
1637         1116  canceled  2015-08-15  2015-08-18             3.0
1638          874   current  2015-08-22         NaN             NaN
1639          686   current  2015-08-23         NaN             NaN

      is_udacity  is_canceled
0           True         True
1           True         True
2           True         True
3           True         True
4           True        False
...          ...          ...
1635       False        False
1636       False        False
1637       False         True
1638       False        False
1639       False        False

[1640 rows x 7 columns]

In [90]:
pwd

'C:\\Users\\user\\Documents\\data analysis'

In [91]:
print (df.head())

   account_key    status   join_date cancel_date  days_to_cancel  is_udacity  \
0          448  canceled  2014-11-10  2015-01-14            65.0        True
1          448  canceled  2014-11-05  2014-11-10             5.0        True
2          448  canceled  2015-01-27  2015-01-27             0.0        True
3          448  canceled  2014-11-10  2014-11-10             0.0        True
4          448   current  2015-03-10         NaN             NaN        True

   is_canceled
0         True
1         True
2         True
3         True
4        False

In [92]:
print (df.tail())

      account_key    status   join_date cancel_date  days_to_cancel  \
1635         1176   current  2015-08-12         NaN             NaN
1636         1110   current  2015-08-13         NaN             NaN
1637         1116  canceled  2015-08-15  2015-08-18             3.0
1638          874   current  2015-08-22         NaN             NaN
1639          686   current  2015-08-23         NaN             NaN

      is_udacity  is_canceled
1635       False        False
1636       False        False
1637       False         True
1638       False        False
1639       False        False

In [93]:
print (df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1640 entries, 0 to 1639
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   account_key     1640 non-null   int64
 1   status          1640 non-null   object
 2   join_date       1640 non-null   object
 3   cancel_date     988 non-null    object
 4   days_to_cancel  988 non-null    float64
 5   is_udacity      1640 non-null   bool
 6   is_canceled     1640 non-null   bool
dtypes: bool(2), float64(1), int64(1), object(3)
memory usage: 67.4+ KB
None

In [94]:
print (df.describe())

       account_key  days_to_cancel
count  1640.000000      988.000000
mean    642.775610       43.917004
std     376.890333       50.869513
min       0.000000        0.000000
25%     322.000000        5.000000
50%     635.500000       22.000000
75%     969.250000       65.000000
max    1305.000000      249.000000

In [95]:
print (df["account_key"])

0        448
1        448
2        448
3        448
4        448
        ...
1635    1176
1636    1110
1637    1116
1638     874
1639     686
Name: account_key, Length: 1640, dtype: int64

In [96]:
print (df["status"])

0       canceled
1       canceled
2       canceled
3       canceled
4        current
          ...
1635     current
1636     current
1637    canceled
1638     current
1639     current
Name: status, Length: 1640, dtype: object

In [98]:
print (df["account_key"].sum())

1054152

In [99]:
print (df["account_key"].max())

1305

In [100]:
status_max_account = df[df["account_key"]== 1305] 
print (status_max_account["status"])

954    canceled
Name: status, dtype: object

In [102]:
fd = pd.read_csv ("project_submissions.csv")

In [103]:
print (fd)

     creation_date completion_date assigned_rating  account_key  lesson_key  \
0       2015-01-14      2015-01-16        UNGRADED          256  3176718735
1       2015-01-10      2015-01-13      INCOMPLETE          256  3176718735
2       2015-01-20      2015-01-20          PASSED          256  3176718735
3       2015-03-10      2015-03-13          PASSED          434  3176718735
4       2015-02-17      2015-03-03      INCOMPLETE          434  3176718735
...            ...             ...             ...          ...         ...
3637    2015-01-13      2015-01-22          PASSED          243  3176718735
3638    2015-07-07      2015-07-07      INCOMPLETE          771  3176718735
3639    2015-08-16      2015-08-16          PASSED            2  3176718735
3640    2015-03-03      2015-03-11          PASSED          623  3176718735
3641    2015-07-10      2015-07-11          PASSED         1274  4576183932

     processing_state
0           EVALUATED
1           EVALUATED
2           EVALUATED
3           EVALUATED
4           EVALUATED
...               ...
3637        EVALUATED
3638        EVALUATED
3639        EVALUATED
3640        EVALUATED
3641        EVALUATED

[3642 rows x 6 columns]

In [104]:
print (fd.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3642 entries, 0 to 3641
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   creation_date     3642 non-null   object
 1   completion_date   3636 non-null   object
 2   assigned_rating   3636 non-null   object
 3   account_key       3642 non-null   int64
 4   lesson_key        3642 non-null   int64
 5   processing_state  3642 non-null   object
dtypes: int64(2), object(4)
memory usage: 170.8+ KB
None

In [106]:
print (df.isnull())

      account_key  status  join_date  cancel_date  days_to_cancel  is_udacity  \
0           False   False      False        False           False       False
1           False   False      False        False           False       False
2           False   False      False        False           False       False
3           False   False      False        False           False       False
4           False   False      False         True            True       False
...           ...     ...        ...          ...             ...         ...
1635        False   False      False         True            True       False
1636        False   False      False         True            True       False
1637        False   False      False        False           False       False
1638        False   False      False         True            True       False
1639        False   False      False         True            True       False

      is_canceled
0           False
1           False
2           False
3           False
4           False
...           ...
1635        False
1636        False
1637        False
1638        False
1639        False

[1640 rows x 7 columns]

In [107]:
print (df.isnull().sum())

account_key         0
status              0
join_date           0
cancel_date       652
days_to_cancel    652
is_udacity          0
is_canceled         0
dtype: int64

In [110]:
pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\user\anaconda3\lib\site-packages (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.23 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [111]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df_info= fd.info()

NameError: name 'fd' is not defined